
.container{
    margin: auto;
    width:50%;
   
}      

*{font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto Slab', serif;}



  

   figure p{
    margin:auto;}
    figure{margin:auto;}



    #featured{border-left:1px solid rgb(255,255,172)}
figcaption p{color:red;
text-align: left;
border-left:1px solid red;}

figure>figcaption{color:grey;
    padding-top: 20px;
}

figure :nth-child(2){text-align: center;}

section hr{border: 1px solid lightskyblue ;}



figure :nth-child(3){text-align: center;}
header p{border-top:1px solid #ffd977;
    background-color: rgb(255,255,172);}


    #box{
        box-shadow: 5px  5px 5px grey,
        -10px -10px 5px grey,
         10px -10px 5px grey,
        -10px  10px 5px grey;

        border-radius: 15px;
      }
      figcaption{padding-bottom:20px;}

      header img {
        width: 200px;
        align-items: center;
    }

    article figure img {
        
        width: 100%;
    }
    article figure figcaption {
        text-align: center;
    }

    article h1 {
        text-align: center;
    }
      
    header {
        text-align: center;
    }
    
    header p {
        background-color: rgb(255, 255, 172);
        width: 100%;
    }
    
    header img {
        width: 200px;
    }


   
   
               

        

       

        





